

/* Set height of the grid so .sidebar can be 100% (adjust if needed) */
.row.content {height: 1500px}

/* Set gray background color and 100% height */
.sidebar {
background-color: #1793d1;
height: 100%;
padding-top: 40px;
border-right-style: solid;
border-color: black;
border-width: 1px;
}

.nav-tabs > li > a {
libackground-color: white;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
.sidebar {
	height: auto;
}
.row.content {height: auto;} 
}

.main-content-div {
background-color: #ffffff;
padding-left: 20px;
padding-top: 40px;
overflow: auto;
}
